name: dotnet Application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-2

    - uses: actions/checkout@v2
    - name: Setup dotnet 2.0.x
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: '2.0.x'
    - name: Setup dotnet 2.1.x
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: '2.1.x'
    - name: Setup dotnet 3.1.x
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: '3.1.x'

    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Run Unit Test
      run: dotnet test Amazon.QLDB.Driver.Tests
    - name: Integration Test
      run: dotnet test Amazon.QLDB.Driver.IntegrationTests --no-restore --verbosity normal --settings Amazon.QLDB.Driver.IntegrationTests/.runsettings


